.news-icon {
  width: 5vw;
  padding: 2px;
  background: white;
  border-radius: 50%;
}

.mapboxgl-map {
  position: relative;
}
.mapboxgl-popup {
  width: 70vw;
  min-width: 300px !important;
}

.popup-link {
  position: relative;
  top: 0;
}
